body {
    font-family: Arial, sans-serif;
    background: #f3f3f3;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.container {
    background: white;
    width: 350px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #999;
}

input {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
}

button {
    width: 100%;
    padding: 10px;
    background: green;
    color: white;
    border: none;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #ddd;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}
